<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    {%extends 'navbar.html'%}
{%block content%}
<h1>Retrieve Products</h1>
<table border="1">
    <tr><th>Product_id</th>
        <th>Medicine_name</th>
        <th>Available_stock</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {%for products in product_list%}
    <tr>
    <td>{{products.id}}</td>
    <td>{{ products.medicine }} </td> 
    <td>{{ products.stock}}</td>
    <td ><a href="{%url 'updateproduct' products.id %}" class="btn btn-success" value="edit" type="submit">Edit</a></td>
    <td><a href="{%url 'deleteproduct' products.id %}" class="btn btn-success" value="edit" type="submit">Delete</a></td>
    </tr>
     {% endfor %}
    </table> 

{%endblock%}
</body>
</html>